body {
  padding: 0;
  margin: 0;
  background-color: #f39c12;
}

#input, #output {
  width: 50%;
  bottom: 0;
  top: 55px;
  position: absolute;
}

#input {
  left: 0;
  right: 50%;
}

#output {
  left: 50%;
  right: 0;
}

#header {
  top: 0;
  height: 50px;
  width: 100%;
  position: absolute;
  border-bottom: 5px solid #ddd;
  color: white;
  font-size: 29px;
  font-family: 'Lato', 'serif';
}

.padding {
  padding: 5px 9px;
}

#timing {
  margin-left: 20px;
  display: inline;
  font-size: 20px;
}

#edit-queries {
  font-size: 15px;
}

.wrapper {
  top: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.CodeMirror {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}